@using VBJ._13B.Group1.WebApp.Models
@model Student
@{
    ViewData["Title"] = "Append student";
}


@using (Html.BeginForm("AddStudent", "Student"))
{
    <label>First name</label>
    @Html.TextBoxFor(student => student.firstName)

    <label>Last name</label>
    @Html.TextBoxFor(student => student.lastName)

    <label>Email Address</label>
    @Html.TextBoxFor(student => student.emailAddress)

    @Html.HiddenFor(student => student.ID)

    @Html.HiddenFor(student => student.date)

    <input type="submit" />
}

