@using VBJ._13B.Group1.WebApp.Models
@{
}
@model viewModelRoomBooking
@using (Html.BeginForm("Book", "Room", FormMethod.Post))
{
    <label>Customer name</label>
    @Html.TextBoxFor(book => book.bookingView.CustomerName)
    ;
    @Html.HiddenFor(book => book.bookingView.BookDate)
    ;
    @Html.HiddenFor(book => book.bookingView.RoomID)
    ;
    @Html.HiddenFor(item => item.roomView.ID)
    ;
    @Html.HiddenFor(item => item.roomView.IsAvailable)
    <input type="submit" value="Send" />
}
