@using VBJ._13B.Group1.WebApp.Models
@model List<Movie>
@{
    ViewData["Title"] = "Movies"; //set title for page
}

<a href="@Url.Action("Create","Movie")">Add movie</a> @*On click redirect to Create page*@
<table>
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Genre</th>
    <th>Release year</th>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (Movie item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Title</td>
                    <td>@item.Genre</td>
                    <td>@item.ReleaseYear</td>
                    <td><a href="@Url.Action("Edit", new { id = item.ID })">Szerkesztés</a></td> @*Created edit link, gave id to it*@
                    <td><a href="@Url.Action("Delete", new { id = item.ID })">Törlés</a></td>   @*Created delete link, gave id to it*@

                </tr>
            }
        }
    </tbody>
</table>

